.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.featuredItem{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    height: 250px;
    color: white;
}

.featuredImg{
    object-fit: cover;
}

.featuredTitles{
    position: absolute;
    bottom: 25px;
    left: 25px;
}