.header{
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 1000px 0px;
}

.headerList{
    display: flex;
    gap: 40px;
}
.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.headerListItem.active{
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
}
.headerDesc{
    margin: 20px 0px;
}

.headerButton{
    background-color: #0071c2;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
}

.headerSearch{
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid #febb02;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
}

.headerIcon{
    color: lightgray;
}