$lightGreen: #b9e7e7;

.app {
  display: flex;
  justify-content: center;

  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }
    //Login & Register

    .auth {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: $lightGreen;

      h1 {
        font-size: 20px;
        color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        gap: 20px;
        width: 200px;

        input {
          border: none;
          border-bottom: 1px solid gray;
          padding: 10px;
        }

        button {
          padding: 10px;
          border: none;
          background-color: teal;
          color: white;
          cursor: pointer;
        }

        span {
          font-size: 12px;
          text-align: center;
        }

        p {
          color: red;
          font-size: 12px;
          text-align: center;
        }
      }
    }

    //Navbar

    .navbar {
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;

        .logo {
          img {
            width: 120px;
          }
        }

        .links {
          display: flex;
          align-items: center;
          gap: 10px;

          h6 {
            font-size: 16px;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }

          .write {
            background-color: $lightGreen;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid #fff;

            &:hover {
              color: teal;
              background-color: #fff;
              border: 1px solid teal;
            }
          }
        }
      }
    }

    //Footer

    footer {
      background-color: $lightGreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      margin-top: 100px;

      img {
        width: 50px;
      }
    }
  }
}
